<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.llmauthentication.mapper.StuGradeInfoMapper">

    <resultMap id="BaseResultMap" type="com.example.llmauthentication.pojo.StuGradeInfo">
            <id property="schid" column="schId" jdbcType="INTEGER"/>
            <id property="studentno" column="studentNo" jdbcType="VARCHAR"/>
            <result property="generalCredit" column="general_credit" jdbcType="INTEGER"/>
            <result property="subjectCredit" column="subject_credit" jdbcType="INTEGER"/>
            <result property="coreCredit" column="core_credit" jdbcType="INTEGER"/>
            <result property="developmentCredit" column="development_credit" jdbcType="INTEGER"/>
            <result property="total" column="total" jdbcType="INTEGER"/>
            <result property="generalScore" column="general_score" jdbcType="DOUBLE"/>
            <result property="subjectScore" column="subject_score" jdbcType="DOUBLE"/>
            <result property="coreScore" column="core_score" jdbcType="DOUBLE"/>
            <result property="developmentScore" column="development_score" jdbcType="DOUBLE"/>
            <result property="practiceScore" column="practice_score" jdbcType="DOUBLE"/>
            <result property="gpa" column="gpa" jdbcType="DOUBLE"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        schId,studentNo,general_credit,
        subject_credit,core_credit,development_credit,
        total,general_score,subject_score,
        core_score,development_score,practice_score,
        gpa,createTime,updateTime
    </sql>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO stu_grade_info (schid, studentno, general_credit, subject_credit, core_credit, development_credit, total, general_score, subject_score, core_score, development_score, practice_score, gpa, createtime, updatetime)
        VALUES
        <foreach collection="stuGradeInfoList" item="item" separator=",">
            (#{item.schid}, #{item.studentno}, #{item.generalCredit}, #{item.subjectCredit}, #{item.coreCredit}, #{item.developmentCredit}, #{item.total},
            #{item.generalScore}, #{item.subjectScore}, #{item.coreScore}, #{item.developmentScore}, #{item.practiceScore}, #{item.gpa},
            #{item.createtime}, #{item.updatetime})
        </foreach>
    </insert>

</mapper>
